@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1220px;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

.form-filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.map {
  margin-top: 45px;
  margin-bottom: 79px;
}

.modal-map {
  position: fixed;
  width: 960px;
  height: 559px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -280px;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 1;
  border: none;

  frameborder: 1;
  allowfullscreen: true;
}

.modal-write-us {
  position: fixed;
  width: 760px;
  padding: 100px;
  top: 100px;
  left: 50%;
  margin-left: -480px;
  background-color: white;
  color: black;
  z-index: 1;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-data {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;

  font: inherit;
  width: 360px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 3px solid transparent;
}

.user-data::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.user-data-text textarea {
  width: 760px;
  box-sizing: border-box;
}

.user-data:invalid {
  background-color: #f6dada;
}

.user-data:focus {
  border: 3px solid #f7e296;
}

.user-data:hover {
  background-color: #eaeaea;
}

.write-us-form label {
  display: block;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.write-us-form .button-submit {
  margin-top: 45px;
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 20px;
  background: #f0c52e;
  opacity: 0.5;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  font-size: 0;
  border: 0;
  border-radius: 45%;
  cursor: pointer;
  z-index: 1;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 27px;
  left: 15px;
  width: 27px;
  height: 3px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.container {
  width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  position: relative;
}

.modal-show {
  display: block;
  animation: bounce 0.4s;
}

.modal-error {
  animation: shake 0.8s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(10px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.caption-breadcrumbs .caption,
.caption-breadcrumbs .breadcrumbs{
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 50px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 14px;
  right: -23px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(-45deg);
}

.breadcrumbs-current::after {
  display: none;
}

.inner-page-main {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-right: auto;
  background-image: linear-gradient(to bottom, #ebebeb 70px, #ffffff 70px);
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: auto;
  color: rgba(0, 0, 0,  1);
  background-image: linear-gradient(to bottom, #dcdcdc 70px, #efefef 70px);
}

.filter-color{
  width: 100%;
  background-image: linear-gradient(to bottom, #dcdcdc 70px, #efefef 70px);
}
.sort-color{
  width: 100%;
  background-image: linear-gradient(to bottom, #ebebeb 70px, #ffffff 70px);
}

.filters .title-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0,  1);
  padding: 0;
  margin: 0;
  min-height: 70px;
}

.filters .title-nav,
.filters .price,
.filters .form-filter {
  width: 267px;
  padding-left: 60px;
}

.sortnav {
  display: flex;
  min-height: 70px;
  width:837px;
  margin-right: auto;
  padding-right: auto;
  justify-content: space-between;
  align-items: center;
}

.sortnav .title-nav {
  margin-left: 70px;
  margin-right: 52px;
}

.sortnav a {
  color: rgba(0, 0, 0,  0.3);
}

.sortnav a:first-of-type {
  color: rgba(0, 0, 0,  1);
}

.sortnav a:hover {
  color: rgba(0, 0, 0,  0.6);
}

.sortnav a:active {
  color: rgba(0, 0, 0,  1);
}

.sortnav a:first-of-type {

}

.title-nav {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.sort-type {
  margin-left: 30px;
  margin-right: 30px;
}

.sort-popular {
  margin-right: 230px;
}

.ascend {
  position: relative;
}

.ascend::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-bottom: 7px solid #000000;
  opacity: 0.2;
}

.descend {
  position: relative;
  margin-left: 15px;
}

.descend::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left:-10px;
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-top: 7px solid #000000;
}

.main-header {
  background-color: #f7e296;
  color: #000000;
  margin-top: 21px;
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom, #ffffff 20px, #f7e296 15px );
}

.main-header-logo {
  display: block;
  width: 164px;
  height: 36px;
  margin-left: 60px;
}

.main-header-logo[href]:hover {
  opacity: 0.6;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.header-line1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.header-line2 {
  display: flex;
  justify-content: space-between;
}

.header-site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: 3.5px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 60px;
  margin-right: 60px;
}

.user-navigation,
.catalog-menu {
  list-style: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-transform: none;
  letter-spacing: normal;
}

.user-navigation {
  display: flex;
  width: 224px;
  justify-content: space-between;
}

.login-link {
  margin-right: 210px;
}

.footer-user-navigation .login-link {
  margin-right: 45px;
  margin-left: 165px;
}

.logout {
  opacity: 0.6;
}

.compare-header {
  width: 100px;
  margin-right: 40px;
  margin-left: 60px;
}

.site-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-right: 90px;
}

.input-search {
  background-color: transparent;
  border: 0px;
  padding-bottom: 14px;
  width: 350px;
}

.input-search::placeholder {
  color: rgba(0, 0, 0,  0.3);
}

.input-search:hover::placeholder {
  color: rgba(0, 0, 0,  0.6);
}

.input-search:focus::placeholder {
  color: rgba(0, 0, 0,  1);
}

.input-search:focus ~ .button-search {
  display: block;
}

.input-search:focus {
  outline: none;
  border-bottom: 2px solid black;
}


.button-search {
  background-color: transparent;
  display: none;
}

.button-search {
  border: 2px solid black;
  padding-left:  22px;
  padding-right:  22px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: -18px;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
  display: block;
}

.button-search:active {
  background-color: #000000;
  color: #4d4d4d;
  display: block;
}

.main-navigation a:hover {
  color: rgba(0, 0, 0,  0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0,  0.3);
}

.catalog-plus {
  display: inline-block;
  width: 220px;
  position: relative;
  padding-right: 20px;
  margin-right: 230px;
}

.catalog-plus::after {
  content: "";
  position: absolute;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: 100%;
  top: 4px;
}

.catalog-plus:hover::after {
  opacity: 0.6;
}

.catalog-menu {
  display: none;
  position: absolute;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 560px;
  background-color: #f7e296;
  padding-top: 40px;
  padding-bottom: 16px;
  margin-left: -60px;
  padding-left: 60px;
  padding-right: 581px;
}

.catalog-menu li:nth-child(1){
  margin-right: 57px;
}

.catalog-menu li:nth-child(2){
  margin-right: 78px;
}

.catalog-menu li:nth-child(4){
  margin-right: 83px;
}

.catalog-menu li:nth-child(5){
  margin-right: 220px;
}

.header-site-navigation > li:hover .catalog-menu,
.catalog-plus:hover ~ .catalog-menu,
.catalog-plus:focus ~ .catalog-menu,
.catalog-plus:active ~ .catalog-menu {
  display: flex;
}

.catalog-menu li {
  margin-bottom: 20px;
}
.catalog-menu li:last-child {
  margin-bottom: 0px;
}

.promo {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #f7e296 105px, #ffffff 105px);
  position: relative;
}

.slide_number {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  position: absolute;
  top: -200px;
  right: 60px;
  color: white;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  width: 80px;
  font-size: 0;
  position: absolute;
  top: 330px;
  left: 80%;
  align-items: center;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
}

.radio-slide:checked + label::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid black;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider-list .slider-item:nth-child(1) {
  display: block;
}

.slider-controls .radio-slide:nth-child(1):checked  ~ .slider-list .slider-item:nth-child(1),
.slider-controls .radio-slide:nth-child(2):checked  ~ .slider-list .slider-item:nth-child(2),
.slider-controls .radio-slide:nth-child(3):checked  ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.promo-slide-container {
  width: 500px;
  margin-right: 80px;
  margin-top: 40px;
}

.promo img {
  margin-left: 90px;
}

.caption {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.promo-options {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-right: 70px;
}

.promo-options li{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 45px;
}

.promo-1 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.promo-2 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.promo .button {
  margin-top: 35px;
}

.catalog-nav {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 300px;
}

.catalog-nav a {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.catalog-img::before {
  content: "";
  position: absolute;
  background-color: #f0c52e;
  opacity: 0.5;
  background-repeat: no-repeat;
  top:-160px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 160px;
  height: 160px;
}

.catalog-img:hover::before,
.catalog-img:active::before {
  opacity: 1;
}

.catalog-img:active::after {
  opacity: 0.3;
}

.catalog-img::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0;
  padding: 0;
}


.catalog-nav>li:nth-child(1) a::after {
  top:-110px;
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  width: 97px;
  height: 55px;
}

.catalog-nav>li:nth-child(2) a::after {
  top:-117px;
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  width: 86px;
  height: 117px;
}


.catalog-nav>li:nth-child(3) a::after {
  top:-125px;
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  width: 71px;
  height: 87px;
}

.catalog-nav>li:nth-child(4) a::after {
  top:-110px;
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  width: 107px;
  height: 65px;
}

.catalog-nav>li:nth-child(5) a::after {
  top:-130px;
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  width: 56px;
  height: 98px;
}

.catalog-nav>li:nth-child(6) a::after {
  top:-110px;
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  width: 132px;
  height: 69px;
}

.catalog-nav li {
  width: 160px;
  margin-right: 40px;
}

.catalog-nav li:last-child {
  margin-right: 0px;
}

.delivery {
  margin-top: 160px;
  margin-bottom: 107px;
  width: 100%;
  background-color: #e5e5e5;
  background-image: linear-gradient(to bottom, #ffffff 22px, #e5e5e5 22px);
}

.delivery-container {
  display: flex;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 150px;
  margin: auto;
  justify-content: space-between;
}

.delivery-items {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 280px;
  position: relative;
}

.delivery-items li {
  margin-bottom: 25px;
}

.delivery-items::after {
  content: "";
  position: absolute;
  top: -82px;
  left: 100%;
  height: 320px;
  width: 8px;
  background-color: black;
}

.delivery-title {
  width: 432px;
  margin-top: -45px;
  margin-left: 60px;
}

.delivery-man {
  margin-top: 8px;
  margin-right: 62px;
}

.button-delivery a {
  display: inline-block;
  width: 160px;
  letter-spacing: 3.5px;
  background-image: linear-gradient(transparent, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  padding-top:11px;
  padding-bottom: 11px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-delivery:first-of-type a {
  display: inline-block;
  background-image: none;
  background-color: black;
  color: #f7e184;
  padding-right: 120px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.button-delivery:not(:first-of-type):hover a {
  display: inline-block;
  background-image: none;
  background-color: #f0c52e;
  color: #000000;
  padding-top: 11px;
  padding-bottom: 11px;
}

.button-delivery:not(:first-of-type):active a {
  display: inline-block;
  background-image: none;
  background-color: black;
  color: #f7e184;
  padding-right: 120px;
  padding-top: 11px;
  padding-bottom: 11px;
}


.button-features,
.button-contacts {
  width: 260px;
}

.description {
  width: 220px;
}

.partners-logo {
  margin-bottom: 90px;
}

.partners-logo-img {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.partners-logo-img li {
  filter: grayscale(100%);
  opacity: 0.2;
}

.partners-logo-img li:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.features-contacts {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 95px;
  margin-top: 12px;
}

.features::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 80px;
  height: 7px;
  background-color: black;
}

.features {
  width: 460px;
  display: flex;
  flex-direction: column;
}

.contacts {
  width: 560px;
  display: flex;
  flex-direction: column;
}

.features p {
  padding-bottom: 15px;
}

.transport-company {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 80px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 30px;
}

.transport-company li {
  padding-bottom: 10px;
}

.transport-company li:last-child {
  padding-bottom: 0;
}

.button {
  display: inline-block;
  background-color: transparent;
  background-image: linear-gradient(transparent, transparent 42%, #f0c52e 42%, #f0c52e 58%, transparent 58%);
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  padding-top:11px;
  padding-bottom: 11px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  outline: none;
  letter-spacing: 1px;
}

.inner-button {
  border: none;
  width: 200px;
}

.button:hover {
  background-image: none;
  background-color: #f0c52e;
  border: none;
}

.button:active {
  background-image: none;
  background-color: #f0c52e;
  color: rgba(0, 0, 0, .3);
  border: none;
}

.main-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 65px;
  background-color: #464646;
  color: #ffffff;
}

.footer-line1,
.footer-line2,
.footer-line3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer-user-navigation,
.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-user-navigation {
  margin-left: 500px;
}

.user-navigation li,
.footer-user-navigation li {
  margin-right: 20px;
}


.user-navigation li:last-child,
.footer-user-navigation li:last-child {
  margin-right: 0px;
}

.footer-line1 a {
  display: block;
  color: rgba(255, 255, 255,  0.6);
}

.footer-line1 a:hover {
  color: rgba(255, 255, 255,  1);
}

.footer-line1 a:active {
  color: rgba(255, 255, 255,  0.3);
}

.main-footer-logo {
  width: 163px;
  height: 36px;
  display: block;
}

.main-footer-logo[href]:hover {
  opacity: 0.6;
}

.main-footer-logo[href]:active {
  opacity: 0.3;
}

.footer-line1 a:nth-child(3) {
  padding-right: 42px;
  padding-left: 42px;
}

.footer-line2 {
  margin-top: 26px;
}

.footer-line3 {
  margin-top: 55px;
}

.footer-line2 p {
  margin: 0;
  padding: 0;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-around;
  width: 425px;
}

.footer-site-navigation a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-site-navigation a:hover {
  color: rgba(255, 255, 255,  0.6);
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255,  0.3);
}

.footer-line3 {
  position: relative;
  align-items: flex-start;
}

.footer-line3::before {
  content: "";
  align-self: center;
  height: 9px;
  width: 80px;
  background-color: #ffc600;
}

.social-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 140px;
}

.social-button {
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  margin-right: 20px;
}

.social-navigation .social-button:last-child {
  margin-right: 0;
}

.social-button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  width: 34px;
  height: 34px;
  opacity: 0.6;
}

.social-button-fb::before  {
  content: "";
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.social-button-in::before {
  content: "";
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.social-button-tw::before {
  content: "";
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.social-button-tw:hover::before,
.social-button-fb:hover::before,
.social-button-in:hover::before {
  opacity: 1;
}

.social-button-tw:active::before,
.social-button-fb:active::before,
.social-button-in:active::before {
  opacity: 0.3;
}

.logo-html:hover {
  opacity: 0.6;
}

.logo-html:active {
  opacity: 0.3;
}


.form-filter legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.price span {
  color: rgba(0, 0, 0,  0.3);
}

.filter-option {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  line-height: 40px;
}

.filter-option label {
  position: relative;

  display: block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  line-height: 24px;
  margin-bottom: 16px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top:0;
  left: -42px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top:0;
  left: -42px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 27px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 5px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 5px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-input-radio:hover + label::after,
.filter-input-radio:hover + label::before,
.filter-input-checkbox:hover + label::before {
  opacity: 0.6;
}

.filter-input:disabled + label,
.filter-input-radio:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-input:active + label,
.filter-input-radio:active + label::after,
.filter-input-radio:active + label::before,
.filter-input-checkbox:active + label::before {
  opacity: 1;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 54px;
  margin-bottom: 60px;
}

.catalog-item img {
  position: relative;
  margin-bottom: 35px;
}

.cart-compare {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog-item img:hover {
  opacity: 0.3;
}

.catalog-item img:hover ~ .cart-compare {
  display: flex;
}


.catalog-item article {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin-top: 75px;
  align-items: center;
  flex-wrap: wrap;
}

.catalog-item h3 {
  display: inline-block;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  width: 260px;
}

.catalog-item .selfie-wrap {
  white-space: nowrap;
}

.catalog-item .catalog-item-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.add-to-compare {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0,  0.6);
}

.add-to-compare:hover {
  color: rgba(0, 0, 0,  1);
}

.add-to-compare:active {
  color: rgba(0, 0, 0,  0.3);
}

.navpage {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 70px;
  background-color: #ebebeb;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 58px;
  margin-bottom: 75px;
}

.navpage li:first-child {
  margin-left: 30px;
  margin-right: 230px;
}

.navpage li:last-child {
  margin-left: 230px;
  margin-right: 30px;
}

.navpage a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0,  0.3);
}

.page:first-child a,
.page:nth-child(2) a,
.page:last-child a {
  color: #000000;
}

.navpage li:first-child:hover,
.navpage li:last-child:hover {
  background-color: #d9d9d9;
}

.navpage li:first-child:active,
.navpage li:last-child:active {
  opacity: 0.5;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
