@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}

.filter fieldset {
  border: none;
}

.modal {
  display: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;

}

.main-header {
  background-color: #f7e296;
  color: #000000;
  margin-top: 21px;
  padding-bottom: 40px;
}

.logo-gradient {
  display: block;
  height: 33px;
  background-image: linear-gradient(to top, #f7e296 15px, #ffffff 15px);
}

.main-header-logo {
  margin-left: 60px;
}

.main-header-logo[href]:hover {
  opacity: 0.6;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.header-line1,
.header-line2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
}

.header-line1 {
  margin-top: 35px;
}

.user-navigation,
.catalog-menu,
.header-site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.user-navigation {
  margin-top: -3px;
  width: 280px;
}

.compare-header {
  width: 135px;
}

.cart-header {

}

.site-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  margin-right: 100px;
}

.input-search {
  background-color: transparent;
  border: 0px;
}

.input-search::placeholder {
  color: rgba(0, 0, 0,  0.3);
}

.input-search:hover::placeholder {
  color: rgba(0, 0, 0,  0.6);
}

.input-search:focus::placeholder {
  color: rgba(0, 0, 0,  1);
}

.input-search:focus {
  /* outline: none; */
}

.button-search {
  background-color: transparent;
}

.button-search {
  border: 2px solid black;
  padding-left:  22px;
  padding-right:  22px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:active {
  background-color: #000000;
  color: #4d4d4d;
}

.main-navigation a:hover {
  color: rgba(0, 0, 0,  0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0,  0.3);
}

.header-line2 {
  margin-top: 35px;
}

.catalog-menu {
  margin-top: 21px;
  display: flex;
  width: 500px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-site-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 60px;
  margin-right: 60px;
}

.promo-gradient {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #f7e296 112px, #ffffff 112px);
}

.promo-slide-container {
  width: 480px;
  margin-right: 80px;
  margin-top: 45px;
}

.promo img {
  margin-left: 90px;
}

.caption {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.promo-text {
  margin-top: -15px;
}

.promo-1 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.promo-2 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.promo-options {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  margin-top: 65px;
}

.promo .button {
  margin-top: 35px;
}

.catalog-nav {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 100px;
  padding-top: 200px;
  position: relative;
}


.catalog-nav li:nth-child(1)::before {
  content: "";

  position: absolute;
  top: 0px;

  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  margin: auto;

  width: 160px;
  height: 160px;
  background-color: #f7e296;

}

.catalog-nav li:nth-child(2)::before {
  content: "";

  position: absolute;
  top: 0px;

  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  margin: auto;

  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.catalog-nav li:nth-child(3)::before {
  content: "";

  position: absolute;
  top: 0px;

  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  margin: auto;


  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.catalog-nav li:nth-child(4)::before {
  content: "";

  position: absolute;
  top: 0px;

  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  margin: auto;


  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.catalog-nav li:nth-child(5)::before {
  content: "";

  position: absolute;
  top: 0px;

  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  margin: auto;


  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.catalog-nav li:nth-child(6)::before {
  content: "";

  position: absolute;
  top: 0px;

  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  margin: auto;


  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.catalog-nav li,
.catalog-nav li::before {
  width: 160px;
  margin-right: 40px;
}

.catalog-nav li:last-child,
.catalog-nav li:last-child::before {
  margin-right: 0px;
}


.catalog-nav li:active {
  opacity: 0.6;
}

.delivery {
  margin-top: 160px;
  margin-bottom: 107px;
  width: 100%;
  background-color: #e5e5e5;

  display: flex;
  justify-content: space-between;
  position: relative;
}

.delivery-items {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  width: 420px;
}

.delivery-items::after {
  content: "";

  position: absolute;
  top: -82px;

  height: 320px;
  width: 8px;

  background-color: black;
}

.delivery-title {
  width: 430px;

  margin-top: -45px;
  margin-left: 115px;
  padding-bottom: 155px;
}

.delivery-man {
  width: 340px;
  margin-left: 130px;
  margin-top: 8px;
}

.delivery-gradient {
  width: 100%;
  background-image: linear-gradient(to bottom, #ffffff 22px, #e5e5e5 22px);
}

.partners-logo-img {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 62px;
  padding-right: 62px;

  margin-bottom: 90px;
}

.partners-logo-img li {
  filter: grayscale(100%);
  opacity: 0.2;
}

.partners-logo-img li:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.partners-logo-img li:nth-child(1) {

}

.partners-logo-img li:nth-child(2) {

}

.partners-logo-img li:nth-child(3) {

}


.features-contacts {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 95px;
}

.features::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 80px;
  height: 7px;
  background-color: black;
}

.features,
.contacts {
  margin-top: 12px;
  display: flex;
  flex-direction: column;

}

.features p {
  padding-bottom: 15px;
}

.transport-company {
  list-style: none;
  padding: 0;
  margin: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 30px;

  margin-top: 55px;
  margin-bottom: 77px;
}

.transport-company li {
  padding-bottom: 10px;
}

.map {
  margin-top: 45px;
  margin-bottom: 80px;
}

.button-features-contacts {

}

.button {
  display: inline-block;
  width: 220px;
  height: 38px;
  background-color: #f7e296;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-image: url('img/yellow-line.svg');
  margin-bottom: 1px;
}

.button:hover {

}

.button:active {
  color: rgba(0, 0, 0, .3);
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-current {
  color: rgba(0, 0, 0, 0.6);
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 65px;
  background-color: #464646;
  color: #ffffff;
}

.footer-line1,
.footer-line2,
.footer-line3 {
  display: flex;
  justify-content: space-between;
  width: 100%

}

.footer-user-navigation,
.footer-site-navigation,
.social-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}


.footer-block1 {
  display: flex;
  justify-content: space-around;
  width: 326px;
  margin-left: 670px;
}

.footer-block1 a {
  color: rgba(255, 255, 255,  0.6);
}

.footer-block1 a:hover {
  color: rgba(255, 255, 255,  1);
}

.footer-block1 a:active {
  color: rgba(255, 255, 255,  0.3);
}


.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:active {
  opacity: 0.3;
}


.footer-line2 {
  margin-top: 28px;
}

.footer-line3 {
  margin-top: 60px;
}

.footer-line2 p {
  margin: 0;
  padding: 0;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-around;
  width: 425px;
}

.footer-site-navigation a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-site-navigation a:hover {
  color: rgba(255, 255, 255,  0.6);
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255,  0.3);
}

.social-navigation {
  width: 160px;
  justify-content: center;
}

.social-button-fb,
.social-button-in {
  margin-right: 20px;
}


.footer-line3 {
  position: relative;
}

.footer-line3::before {
  display: flex;
  align-self: center;
  content: "";
  height: 9px;
  width: 80px;
  background-color: #ffc600;
}

.social-button {
  opacity: 0.3;
}

.social-button:hover {
  opacity: 1;
}

.social-button:active {
  opacity: 0.3;
}

.logo-html:hover {
  opacity: 0.6;
}

.logo-html:active {
  opacity: 0.3;
}

.sortnav .sort-line{
  background-color: #ebebeb;
  color: rgba(0, 0, 0,  1);
}

.sortnav p {
  color: rgba(0, 0, 0,  0.3);
}

.sortnav p:hover {
  color: rgba(0, 0, 0,  0.6);
}

.sortnav p:active {
  color: rgba(0, 0, 0,  1);
}

.sort-line .sort-price {
  color: #000000;
}

.filters .title-nav {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0,  1);
}
.filters .filter-column {
  background-color: #ebebeb;
  color: rgba(0, 0, 0,  1);
}
.title-nav {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.price p,
.filter legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.price span {
  color: rgba(0, 0, 0,  0.3);
}

.filter-option {
  font-size: 14px;
  line-height: 40px;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:active + label {
  color: rgba(0, 0, 0,  1);
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0,  0.3);
}

.catalog-item img:hover {
  opacity: 0.3;
}

.catalog-item h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item .catalog-item-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.add-to-compare {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0,  0.6);
}

.add-to-compare:hover {
  color: rgba(0, 0, 0,  1);
}

.add-to-compare:active {
  color: rgba(0, 0, 0,  0.3);
}

.navpage li {
  background-color: #ebebeb;
}
.navpage a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0,  0.3);
}

.page:first-child a,
.page:nth-child(2) a,
.page:last-child a {
  color: #000000;
}


.navpage li:first-child:hover,
.navpage li:last-child:hover {
  background-color: #d9d9d9;
}

.navpage li:first-child:active,
.navpage li:last-child:active {
  opacity: 0.5;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
